.name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 25px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    padding:5px;
    margin: 0px;
}
.navhead {
    height: 100%;
    margin: 0 0 25px 0;
    padding: 0px;
    border-bottom: 3px solid #777777;

}
.context {
    background-color: #ffffff;
    border: #dddddd solid 1px;
    padding: 5px;

}
.header-link{
    background-color: #ffffff;
    color: #777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0px
}

.list-link{
    border-right: solid 1px #777777;
}

body {
    background-image: url(../../../portfolio/assets/images/congruent_outline.png);

}

h1 {
padding: 0 0 15px 0;
border-bottom: 3px solid #777777;
font-family:'Georgia', Times, 'Times New Roman', serif;
color: #4aaaa5;
}

.profilePic {
    border-radius: 50%;
}

.contact-button {
    background-color: #4aaaa5;
    color: #ffffff;
    border-color: #4aaaa5;
    border-radius: 0px;
}

form {
    color:#777777;
}

#picture {
    margin: auto;
}

.top-buffer{
    margin-top: 20px;
}

.projects {
    height: 200px;
    width: 200px;
    margin: auto;
    text-align: center;
}

.project-title {
    position: relative;
    top:100px;
    box-sizing: border-box;
    width:100%;
    background-color: #4aaaa5;
    color: #ffffff;
}


#pro1{
    background-image: url(../images/ParkApp.png);
    background-size: cover;
}

#pro2{
    background-image: url(../images/WorkdayPlan.png);
    background-size: cover;
}

#pro3{
    background-image: url(../images/WeatherApp.png);
    background-size: cover;
}

#pro4{
    background-image: url(../../../portfolio/assets/images/pic4.jpg);
}

#pro5{
    background-image: url(../../../portfolio/assets/images/pic5.jpg);
}

@media (max-width:768px) {
    .name {
        width: 100%;
        text-align: center;
    }
}

footer {
    
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    Width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
}

.footer23 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 8px
    color #ffffff;
    text-align: center;
}
