.name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 25px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    padding:5px;
    margin: 0px;
}
.navhead {
    height: 100%;
    margin: 0 0 25px 0;
    padding: 0px;
    border-bottom: 3px solid #777777;

}
.context {
    background-color: #ffffff;
    border: #dddddd solid 1px;
    padding: 5px;

}
.header-link{
    background-color: #ffffff;
    color: #777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0px
}

.list-link{
    border-right: solid 1px #777777;
}

body {
    background-image: url(../../../portfolio/assets/images/congruent_outline.png);

}

h1 {
padding: 0 0 15px 0;
border-bottom: 3px solid #777777;
font-family:'Georgia', Times, 'Times New Roman', serif;
color: #4aaaa5;
}

.navbar {
    background-color: #ffffff
}

.contact-button {
    background-color: #4aaaa5;
    color: #ffffff;
    border-color: #4aaaa5;
    border-radius: 0px;
}

form {
    color:#777777;
}

.projects {
    height: 200px;
    width: 200px;
    margin: auto;


}

#pro1{
    background-image: url(../../../portfolio/assets/images/pic1.jpg);
}

#pro2{
    background-image: url(../../../portfolio/assets/images/pic2.jpg);
}

#pro3{
    background-image: url(../../../portfolio/assets/images/pic3.jpg);
}

#pro4{
    background-image: url(../../../portfolio/assets/images/pic4.jpg);
}

#pro5{
    background-image: url(../../../portfolio/assets/images/pic5.jpg);
}

.sample {
    background-color: blue;
}