.name {
    background-color: #109dac;
    color:#f1e9dd;
    font-size: 25px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    padding:5px;
    margin: 0px;
    border-radius: 5%;
    box-shadow: 5px 5px #af9879;
}

.nameP{
    color:rgb(1,84,134);
    font-size: 30px;
    font-family:'Kaushan Script', cursive;
    padding:5px;
    margin: 0px;
    font-weight: bolder;
    text-shadow: 2px 5px #3884b6;
}
.navhead {
    height: 100%;
    margin: 0 0 25px 0;
    padding: 0px;
    border-bottom: 3px solid rgb(1,84,134);

}
.context {
    background-color: #f1e9dd;
    border: #af9879 solid 4px;
    padding: 5px;
    box-shadow: 5px 5px darkgrey;

}
.header-link{
    background-color: #f1e9dd;
    color: rgb(1,84,134);
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0px
}

.topNav {
    background-color: #f1e9dd;
}

.list-link{
    border-right: solid 1px rgb(1,84,134);
}

body {
    background-image: url(../images/underwater.jpg);
    background-size: cover;

}

h1 {
padding: 0 0 15px 0;
border-bottom: 3px solid rgb(1,84,134);
font-family:'Georgia', Times, 'Times New Roman', serif;
color: #109dac;
text-shadow: 2px 0px rgb(1,84,134);
}

.profilePic {
    border-radius: 50%;
}

.popUp {
    text-align: center;
    background-color: rosybrown;
    box-shadow: 10px -10px #3884b6;
}

.contact-button {
    background-color: #109dac;
    color: #f1e9dd;
    border-color: #109dac;
    border-radius: 0px;
}

form {
    color:rgb(1,84,134);
}

#picture {
    margin: auto;
}

.top-buffer{
    margin-top: 20px;
}

.projects {
    height: 200px;
    width: 200px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    border-radius: 15%;
}

.close{
    cursor: pointer;
    color:rgb(1,84,134);
    text-size-adjust: 25%;
}

.project-title {
    position: relative;
    top:100px;
    box-sizing: border-box;
    width:100%;
    background-color: #109dac;
    color: #f1e9dd;
}


#pro1{
    background-image: url(../images/ParkApp.png);
    background-size: cover;
}

#pro2{
    background-image: url(../images/WorkdayPlan.png);
    background-size: cover;
}

#pro3{
    background-image: url(../images/WeatherApp.png);
    background-size: cover;
}

#pro4{
    background-image: url(../images/Quiz.png);
    background-size: cover;
}

#pro5{
    background-image: url(../images/Burger_App.png);
    background-size: cover;
}

@media (max-width:768px) {
    .name {
        width: 100%;
        text-align: center;
    }
}

footer {
    
    border-top: 8px solid rgb(1,84,134);
    background-color: #af9879;
    Width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
}

a {
    color: hsl(203,52,46);
    font-weight:bold;
}

.footer23 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: #f1e9dd;
    text-align: center;
    margin-bottom: 0;
}
